header {
  background-color: #474747;
  display: flex;
  justify-content: flex-end;
  align-items: left;
}

#navHome {
  margin-left: 400px;
}

.navigate_links {
  position: absolute;
  font-size: larger;
  margin-top: 50px;
  list-style: none;
}

.navigate_links li {
  display: inline-block;
  padding: 10px 15px;
}
.navigate_links li a {
  text-decoration: none;
  color: black;
}
.navigate_links li a:hover {
  background-color: grey;
  border-radius: 5px;
}

button {
  float: right;
  margin-left: 70px;
  margin-right: 118px;
  padding: 9px 12px;
  border-radius: 118px;
  width: 148px;
  height: 48px;
  top: 3.5px;
}

main {
  text-align: center;
  background-color: white;
}

#homePageImg {
  width: 100%;
  height: auto;
  top: 11px;
  left: -11px;
}
#aboutDiv{
  margin: auto;
  padding: 125;
  
}

footer {
  align-content: center;
  text-align: center;
  
  height: 50px;
  background-color: #474747;
  color: white;
}

#bottomSection {
  background-color: #474747;
}

.column {
  float: left;
  width: 25%;
  color: white;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

#bottomSectionLi {
  list-style: none;
}
#ourblog-content {
  width:50%;
  margin: 10% auto;
}
#ourblog-content h3, p {
  text-align: left;
  align-items: left;
}
#ourblog-content ol li {
  text-align: left;
}
#ourblog-content p {
  text-align: left;
  align-items: left;
  font-size: 18px;
  max-width: 738px;
}
.secrets {
  margin-bottom: 5%;
}
.spaghetti {
  border-radius: 10px;
}